@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    height: 100%;
    /* overflow-x: hidden;
    overflow-y: hidden; */
}


/* a blue color as a generic focus style */

button:focus-visible {
    outline: 2px solid #4a90e2 !important;
    outline: -webkit-focus-ring-color auto 5px !important;
}

a {
    text-decoration: none;
    color: black;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  /* background: white; */
  background: lightgoldenrodyellow;
  position: absolute;
  top: 60px; 
  /* left: 0; */
  right: 0;
  width: 50%;
  padding: 1.2rem;
  gap: 1rem;
  z-index: 2;
  border-bottom: 1px solid #ddd;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;

  
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.3s ease;
}

.mobile-menu.show {
  display: flex;
  opacity: 1;
  transform: translateY(0);
}

.mobile-menu a {
  font-size: 1.1rem;
  color: black;
}

.menu-flex {
  display: flex;
  gap: 1rem;
}