:root {
    --bg: #ffffff;
    --muted: #9aa0a6;
    --card: #f1f3f4;
    --accent: #e9eef6;
    --radius: 16px;
}
.container {
    padding: 20px 17%;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-icon {
    width: 40px;
}

.logo-text {
    font-size: 20px;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 25px;
}

.menu a {
    font-size: 14px;
    cursor: pointer;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

main {
  display: flex;
  /* gap: 20px; */
}

.left-side {
  display: flex;
  flex: 1.4;
  /* margin-right: 9rem; */
  flex-direction: column;
}
.right-side {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.border-song {
  margin-bottom: 1rem;
  background: #D9D9D95C;
  padding: 1rem;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  /* width: 100%; */
  border-radius: 0.6rem;
}

.colomn-song {
  display: flex;
  margin-bottom: 1rem;
  margin-left: 2rem;
}

.song {
  /* display: flex; */
  flex: 1;
  margin-right: 1rem;
  /* margin: 0 1rem; */
}

.size-img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 10px;
  /* margin-bottom: 0.5rem; */
}

.size-img-bot {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 50px;
  margin-bottom: 0.5rem;
}

.size-img-left {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 10px;
  /* margin-bottom: 0.5rem; */
}

.judul-song {
  font-weight: 700;
}
.judul-kanan-song {
  font-size: 0.9rem;
}

.judul-left {
  font-weight: 100;
  color: rgba(136, 135, 135, 0.5);
  font-size: 0.8rem;
  margin-top: 0.3rem;
}

.gap-lagi {
  margin-top: 0.3rem;
}

.gap-judul {
  margin-bottom: 1rem;
}
.gap-judul-bot {
  margin-bottom: 1rem;
  margin-top: 0.6rem;
}

/* .image-review {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */

.text-opa {
  font-weight: 100;
  color: rgba(136, 135, 135, 0.5);
  font-size: 0.8rem;
}

.text {
  text-align: justify;
  font-size: 0.8rem;
  line-height: 1.2;
}

.text-size {
  font-size: 1.25rem;
}

.text-review {
  margin-left: 0.9rem;
}

.text-gap {
  margin-top: 0.3rem;
}

.footer {
    padding: 24px 0;
    color: var(--muted);
    border-top: 1px solid rgba(0, 0, 0, 0.03)
}