@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    height: 100%;
}
a {
    text-decoration: none;
    color: black;
}


.container {
    padding: 20px 10%;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-icon {
    width: 40px;
}

.logo-text {
    font-size: 20px;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 25px;
}

.menu a {
    font-size: 14px;
    cursor: pointer;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.album-box {
  /* width: 23rem; tes*/
  
  /* flex: 1 1 23rem; */
  /* height: 15rem; */
  flex: 1;
}

.size-img {
  width: 100%;
  height: 15rem;
  object-fit:fill;
  /* display: block; */
  border-radius: 0.5rem;
  margin-bottom: 0.6rem;
}

.section-title {
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 1.2rem;
}

.content-playlist {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.h-style {
  line-height: 1.2;
}

.second-title {
    margin-bottom: 1.5rem;
    font-weight: 500;
    font-size: 1.2rem;
}

.second-content {
    display: flex;
    /* border: 1px solid; */
    gap: 1rem;
}

.second-box {
    flex: 1;
    /* border: 1px solid; */
    box-shadow: 0px 0px 10px 0px #00000040;
}

.second-img {
    width: 100%;
    height: 10rem;
    object-fit: fill;
    margin-bottom: 0.7rem;
}

.second-text {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.size-text {
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-style: Italic;
    font-size: 1.2rem;
    line-height: 1.4rem;
    letter-spacing: 0%;
    margin-bottom: 0.5rem;
}

.p-text {
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2rem;
    letter-spacing: 0%;
    margin-bottom: 2rem;
}