@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    height: 100%;
}
a {
    text-decoration: none;
    color: black;
}


.container {
    /* padding: 20px 10%; */
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1.2rem;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-icon {
    width: 40px;
}

.logo-text {
    font-size: 20px;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 25px;
}

.menu a {
    font-size: 14px;
    cursor: pointer;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

main {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    
}

.second-content {
    display: flex;
    border: 1px solid;
    gap: 1rem;
}

.second-first {
    flex: 1;
    padding: 1rem;
    border: 1px solid;
    border-radius: 0.8rem;
    margin-top: 1rem;
}


.second-two {
    flex: 4;
    border: 1px solid;
}

.second-two-box {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

/* .second-box-content {
    flex: 1;
}

.second-box-image {
    flex: 1;
} */

.second-image {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    object-fit: fill;
}

.second-third {
    flex: 1;
    border: 1px solid;
}

.second-first-content {
    border: 1px solid;
}

.content {
    margin-bottom: 0.7rem;
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    gap: 1rem;
    background: #A0A0A033;
    
    align-items: center;
    border-radius: 0.3125rem;
}
.content-option {
    margin-bottom: 0.7rem;
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    gap: 1rem;
    align-items: center;
    border-radius: 0.3125rem;
}

.icon-size {
    width: 1.3rem;
    object-fit: contain;
}

.left-text {
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 0.875rem;
    line-height: 100%;
    letter-spacing: 0%;

}

.left-opa-text {
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 0.875rem;
    line-height: 100%;
    letter-spacing: 0%;
    color: #00000080;
}

hr {
    border: 0;
    height: 1px;
    background: linear-gradient(#00000033);
}

.hr-two {
    border: 1.5px solid #000000
}

.hr-box {
    margin-bottom: 2rem;
}

.javier {
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 1.5rem;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 0.4rem;
}

.hey-text {
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.875rem;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 1rem;
}

.follower {
    display: flex;
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.875rem;
    line-height: 100%;
    letter-spacing: 0%;
    gap: 1rem;
    margin-bottom: 1rem;
}

.bold-one {
    font-weight: 700;
}

.button {
    background: #685336;
    color: #FFFFFF;
    width: 6.5rem;
    padding: 0.5rem 0.5rem;
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 0.875rem;
    line-height: 100%;
    letter-spacing: 0%;
    border: none;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
}

.content-review {
    background-color: blanchedalmond;
    padding: 1rem;
    border-top: 1px solid #0000004D;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    gap: 1rem;
}

.padding-content {
    background-color: greenyellow;
    padding: 0.8rem;
}

.content-img {
    width: 6rem;
    height: 6rem;
    border-radius: 0.8rem;
    object-fit: fill;
    margin-bottom: 0.3rem;
}

.judul-content {
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #000000B2;
    margin-bottom: 0.3rem;
}

.singer {
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #000000B2;
}

.star {
    width: 7rem;
    height: 1.5rem;
}

.star-flex {
    display: flex;
    justify-content:space-between;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

.board {
    text-align: center;
    flex: 1;
}

.board-content {
    flex: 6;
}

.text-review {
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9rem;
    line-height: 1.2rem;
    letter-spacing: 0%;
    /* margin-bottom: 1rem; */
    color: #000000;
}

.tanggal {
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #00000099;
}

.icon-kecil {
    width: 1.4rem;
    height: 1.4rem;
    margin-right: 0.3rem;
}

.gap-icon {
    margin-left: 1rem;
}
.icon-save {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: end;
    /* gap: 0.3rem; */
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #787776;
}