.home-page {
    background-color: #ffffff;
    width: 100%;
    min-width: 1440px;
    min-height: 1024px;
    position: relative;
}

.home-page .mask-group {
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
    height: 1024px;
}

.home-page .asset {
    position: absolute;
    top: calc(50.00% - 208px);
    left: calc(50.00% - 56px);
    width: 113px;
    height: 130px;
    display: flex;
    align-items: flex-start;
    box-shadow: inset 0px 4px 16px #ffffff40;
    overflow: hidden;
    aspect-ratio: 0.87;
}

.home-page .layer {
    width: 113px;
    height: 130px;
    display: flex;
}

.home-page .group {
    flex: 1;
    width: 113px;
    position: relative;
}

.home-page .vector {
    position: absolute;
    width: 100.00%;
    height: 61.00%;
    top: 0;
    left: 0;
}

.home-page .img {
    position: absolute;
    width: 100.00%;
    height: 61.00%;
    top: 39.00%;
    left: 0;
}

.home-page .frame {
    display: inline-flex;
    gap: 10px;
    top: 68px;
    left: 120px;
    align-items: center;
    position: absolute;
}

.home-page .layer-wrapper {
    position: relative;
    width: 27px;
    height: 31px;
    overflow: hidden;
    aspect-ratio: 0.87;
}

.home-page .group-wrapper {
    width: 27px;
    height: 31px;
    display: flex;
}

.home-page .div {
    flex: 1;
    width: 27px;
    position: relative;
}

.home-page .text-wrapper {
    position: relative;
    width: fit-content;
    font-family: "Roboto-Black", Helvetica;
    font-weight: 900;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.home-page .div-wrapper {
    display: flex;
    width: 64px;
    height: 31px;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    top: 68px;
    left: 1169px;
    background-color: #000000;
    border-radius: 6px;
    align-items: center;
    position: absolute;
}

.home-page .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -3.50px;
    margin-bottom: -1.50px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.home-page .frame-2 {
    display: flex;
    width: 73px;
    height: 31px;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    top: 68px;
    left: 1247px;
    background-color: #0000001a;
    border-radius: 6px;
    align-items: center;
    position: absolute;
}

.home-page .text-wrapper-3 {
    position: relative;
    width: fit-content;
    margin-top: -3.50px;
    margin-bottom: -1.50px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.home-page .mdi-spotify {
    position: absolute;
    top: 70px;
    left: 1124px;
    width: 27px;
    height: 27px;
    aspect-ratio: 1;
}

.home-page .basil-google-outline {
    position: absolute;
    top: 72px;
    left: 1082px;
    width: 27px;
    height: 27px;
    aspect-ratio: 1;
}

.home-page .ri-instagram-fill {
    position: absolute;
    top: 72px;
    left: 1040px;
    width: 27px;
    height: 27px;
    aspect-ratio: 1;
}

.home-page .track-music-you-ve {
    position: absolute;
    top: 465px;
    left: calc(50.00% - 330px);
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.home-page .a-community-where {
    position: absolute;
    top: 692px;
    left: calc(50.00% - 265px);
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #00000080;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.home-page .frame-3 {
    display: flex;
    width: 202px;
    justify-content: center;
    gap: 6px;
    padding: 13px 10px;
    top: 610px;
    left: calc(50.00% - 101px);
    background-color: #000000;
    border-radius: 6px;
    align-items: center;
    position: absolute;
}

.home-page .text-wrapper-4 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.home-page .majesticons-arrow-up {
    position: relative;
    width: 21px;
    height: 21px;
    aspect-ratio: 1;
}

.home-page .frame-4 {
    display: inline-flex;
    justify-content: center;
    gap: 25px;
    padding: 10px;
    top: 62px;
    left: calc(50.00% - 107px);
    align-items: center;
    position: absolute;
}

.home-page .text-wrapper-5 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}