.library {
    background-color: #ffffff;
    width: 100%;
    min-width: 1440px;
    min-height: 1024px;
    position: relative;
}

.library .frame {
    display: inline-flex;
    align-items: center;
    gap: 382px;
    position: absolute;
    top: 62px;
    left: calc(50.00% - 601px);
}

.library .div {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
}

.library .asset {
    position: relative;
    width: 27px;
    height: 31px;
    overflow: hidden;
    aspect-ratio: 0.87;
}

.library .layer {
    width: 27px;
    height: 31px;
    display: flex;
}

.library .group {
    flex: 1;
    width: 27px;
    position: relative;
}

.library .vector {
    top: 0;
    position: absolute;
    width: 100.00%;
    height: 61.00%;
    left: 0;
}

.library .img {
    top: 39.00%;
    position: absolute;
    width: 100.00%;
    height: 61.00%;
    left: 0;
}

.library .text-wrapper {
    position: relative;
    width: fit-content;
    font-family: "Roboto-Black", Helvetica;
    font-weight: 900;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.library .frame-2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 10px;
    position: relative;
    flex: 0 0 auto;
}

.library .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.library .frame-3 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    padding: 5px 0px;
    position: relative;
    flex: 0 0 auto;
}

.library .mask-group {
    position: relative;
    width: 41px;
    height: 41px;
    aspect-ratio: 1;
}

.library .text-wrapper-3 {
    position: relative;
    width: fit-content;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.library .fe-arrow-up {
    position: relative;
    width: 15px;
    height: 15px;
    aspect-ratio: 1;
}

.library .div-wrapper {
    display: flex;
    width: 283px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px 10px;
    position: absolute;
    top: 236px;
    left: 1034px;
    background-color: #00000012;
    border-radius: 8px;
}

.library .text-wrapper-4 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.library .pop-wrapper {
    display: flex;
    width: 282px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px 10px;
    position: absolute;
    top: 292px;
    left: 1035px;
    background-color: #00000012;
    border-radius: 8px;
}

.library .frame-4 {
    display: flex;
    width: 282px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px 10px;
    position: absolute;
    top: 406px;
    left: 1035px;
    background-color: #00000012;
    border-radius: 8px;
}

.library .frame-5 {
    display: flex;
    width: 282px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px 10px;
    position: absolute;
    top: 348px;
    left: 1035px;
    background-color: #00000012;
    border-radius: 8px;
}

.library .frame-6 {
    display: flex;
    width: 282px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px 10px;
    position: absolute;
    top: 462px;
    left: 1035px;
    background-color: #00000012;
    border-radius: 8px;
}

.library .text-wrapper-5 {
    position: absolute;
    top: 147px;
    left: 120px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.library .group-2 {
    position: absolute;
    top: 230px;
    left: 374px;
    width: 452px;
    height: 98px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.library .text-wrapper-6 {
    width: 66px;
    height: 16px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.library .taylor-swift-s-the {
    width: 446px;
    height: 46px;
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    font-size: 20px;
    text-align: justify;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
}

.library .text-wrapper-7 {
    width: 40px;
    height: 16px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.library .group-3 {
    position: absolute;
    top: 618px;
    left: 374px;
    width: 445px;
    height: 98px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.library .element-grammy {
    width: 439px;
    height: 46px;
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
}

.library .text-wrapper-8 {
    width: 48px;
    height: 16px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.library .group-4 {
    position: absolute;
    top: 414px;
    left: 374px;
    width: 444px;
    height: 118px;
    display: flex;
    flex-direction: column;
}

.library .sabrina-carpenter {
    width: 438px;
    height: 69px;
    margin-top: 10px;
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    font-size: 20px;
    text-align: justify;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
}

.library .text-wrapper-9 {
    width: 38px;
    height: 16px;
    margin-top: 7px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    font-size: 14px;
    white-space: nowrap;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
}

.library .group-5 {
    position: absolute;
    top: 816px;
    left: 374px;
    width: 458px;
    height: 89px;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.library .p {
    width: 452px;
    height: 23px;
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    font-size: 20px;
    text-align: justify;
    white-space: nowrap;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
}

.library .text-wrapper-10 {
    width: 38px;
    height: 16px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    font-size: 14px;
    white-space: nowrap;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
}

.library .mask-group-2 {
    position: absolute;
    top: 396px;
    left: 121px;
    width: 234px;
    height: 154px;
}

.library .group-6 {
    position: absolute;
    top: 558px;
    left: 925px;
    width: 376px;
    height: 357px;
    display: flex;
    flex-direction: column;
    gap: 18.6px;
}

.library .mask-group-3 {
    width: 374.42px;
    height: 246.41px;
}

.library .sabrina-carpenter-2 {
    width: 374px;
    height: 92px;
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
}

.library .span {
    font-weight: 700;
}

.library .text-wrapper-11 {
    font-family: "Roboto-Regular", Helvetica;
}

.library .mask-group-4 {
    position: absolute;
    top: 784px;
    left: 121px;
    width: 234px;
    height: 154px;
}

.library .mask-group-5 {
    position: absolute;
    top: 590px;
    left: 121px;
    width: 234px;
    height: 154px;
}

.library .mask-group-6 {
    position: absolute;
    top: 202px;
    left: 121px;
    width: 234px;
    height: 154px;
}